.container, .container2 {
    height: 520px;
    width: 100%;
}

.container2 {
    height: 720px
}

.wrapper {
    width: 320px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: -50px 0 0;
    justify-content: center;
    align-items: center;
}

.img_slider {
    width: 280px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img_slider2 {
    width: 375px;
    height: 600px;
    overflow: visible;
}

.slider img {
    /*content: url("https://s3-alpha-sig.figma.com/img/c532/6728/4e1dee14b549efb168f3a770c9650916?Expires=1658102400&Signature=cHltPMpoudc7pdUj6-taXmW-cnbJd9y9ArkT3PcOHFpnf82inBqtJDatOzq2Kmnjo5Tzwlh0vHOAmJUQiWya6DQ0Y14xESYDhY7gMvE0bKEA8SYGvtMGB1ANWRu~cWeVIil-o9d8veY0Vp9b~5ldn3pNfjKhfYKKmZpQCjNEFWgRTPXbQHCPPR4OJUq1QbqiznIx9fqk7SP164FWTAvCgaNcvxuIdh-uhp4aoDoMrAgKfzqOMvE73K8y6ipzVch5EPdn~MScVnsp3j5V6ktXCUNWNd7kpzuJUG7Y1nPh-33zRF0xNRBkNHAhESpI3GtRv5x58D~gGUXuv5k~FBJu7g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");*/
    /*background-image: url("https://s3-alpha-sig.figma.com/img/c532/6728/4e1dee14b549efb168f3a770c9650916?Expires=1658102400&Signature=cHltPMpoudc7pdUj6-taXmW-cnbJd9y9ArkT3PcOHFpnf82inBqtJDatOzq2Kmnjo5Tzwlh0vHOAmJUQiWya6DQ0Y14xESYDhY7gMvE0bKEA8SYGvtMGB1ANWRu~cWeVIil-o9d8veY0Vp9b~5ldn3pNfjKhfYKKmZpQCjNEFWgRTPXbQHCPPR4OJUq1QbqiznIx9fqk7SP164FWTAvCgaNcvxuIdh-uhp4aoDoMrAgKfzqOMvE73K8y6ipzVch5EPdn~MScVnsp3j5V6ktXCUNWNd7kpzuJUG7Y1nPh-33zRF0xNRBkNHAhESpI3GtRv5x58D~gGUXuv5k~FBJu7g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");*/
    /*background-position: center;*/
    max-height: 600px;
}

.description {
    margin: 0 auto;
    width: 90%;
    height: 200px;
}

